{% extends 'base.html.twig' %}

{% block body %}

    <h1>Inscription</h1>
    {{ form_start(form) }}
    {{ form_row(form.question) }}
    {{ form_row(form.answer) }}


    {{ form_widget(form.submit) }}

    <a href="{{ path('Listmycards_page') }}">Terminer</a>

    {{ form_end(form) }}
{% endblock %}