{% extends 'base.html.twig' %}

{% block body %}

    <h1>Inscription</h1>
    {{ form_start(form) }}
    nom de la liste
    {{ form_widget(form.title) }}

    <select name="categorie" >
        <option value="">--Choisir une catégorie--</option>
       {%  for allcategorie in allcategories %}
        <option value=" {{ allcategorie.name }}"> {{ allcategorie.name }}</option>
       {% endfor %}
    </select>

    {{ form_row(form.submit) }}

    {{ form_end(form) }}

{% endblock %}